{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": true
  },
  "rules": {
    "no-param-reassign": 0,
    "camelcase": 0,
    "no-new": 1,
    "new-cap": 0,
    "no-underscore-dangle": 0,
    "func-style": 0,
    "no-console": ["error", { "allow": ["warn", "error", "info"] }],
    "@typescript-eslint/no-explicit-any": 0
  }
}
