name: Auto tdesign-vue PR

on:
  pull_request:
    branches: [main]
    types: [opened, synchronize, reopened, closed]
    paths:
      - "packages/products/tdesign-vue/**"
jobs:
  auto-push:
    runs-on: ubuntu-latest
    if: >
      github.event_name == 'pull_request' &&
      github.event.pull_request.merged == false
    steps:
      # checkout tdesign-api repo
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          repository: Tencent/tdesign-vue
          token: ${{ secrets.PERSONAL_TOKEN }}
          path: target-repo
      - run: |
          echo "NOW=$(date +'%Y-%m-%d-%H_%M_%S')" >> $GITHUB_ENV
      - name: Commit & Push
        id: commit
        run: |
          export NEW_BRANCH_NAME=feat/API-modify-${{ env.NOW }}
          cp -rf packages/products/tdesign-vue/* target-repo/
          cd target-repo/
          git status
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git checkout -b $NEW_BRANCH_NAME
          git add .
          git commit -m "feat: modify API"
          git push --set-upstream origin $NEW_BRANCH_NAME
      - name: Create Pull Request
        id: pr
        uses: peter-evans/create-pull-request@v4
        with:
          token: ${{ secrets.PERSONAL_TOKEN }}
          branch: ${{ NEW_BRANCH_NAME }}
          base: develop
          path: target-repo
          title: '[API] Component API generated'
          body: |
            Update TDesign API & Docs
          labels: |
            API
            automated pr
      - name: comment 
        uses: actions-cool/maintain-one-comment@v2.0.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          body: |
            发起 tdesign-vue PR: <a href="${{ steps.pr.outputs.pull-request-url }}"></a>
